.wrap {
  max-width: 768px;
  margin: 0 auto;

  :global {
    .title {
      font-family: var(--font-waterfall) !important;
      color: red;
    }
  }
}

.wrap > div {
  margin-bottom: 10px;

  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
  cursor: pointer;
}
