@font-face {
  font-family: 'Gilroy';
  src: url('/static/fonts/Gilroy-Black1.otf') format('opentype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/static/fonts/Gilroy-Bold1.otf') format('opentype');
  font-style: normal;
  font-display: swap;
  font-weight: bold;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/static/fonts/Gilroy-Extrabold1.otf') format('opentype');
  font-style: normal;
  font-display: swap;
  font-weight: 900;
}
@font-face {
  font-family: 'Gilroy';
  src: url('/static/fonts/Gilroy-Heavy1.otf') format('opentype');
  font-style: normal;
  font-display: swap;
  font-weight: 900;
}
@font-face {
  font-family: 'Gilroy';
  src: url('/static/fonts/Gilroy-Light1.otf') format('opentype');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('/static/fonts/Gilroy-Medium1.otf') format('opentype');
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: 'Gilroy';
  src: url('/static/fonts/Gilroy-Regular1.otf') format('opentype');
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: 'Gilroy';
  src: url('/static/fonts/Gilroy-Semibold1.otf') format('opentype');
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: 'Gilroy';
  src: url('/static/fonts/Gilroy-Thin1.otf') format('opentype');
  font-style: normal;
  font-display: swap;
  font-weight: 300;
}
@font-face {
  font-family: 'Gilroy';
  src: url('/static/fonts/Gilroy-UltraLight1.otf') format('opentype');
  font-style: normal;
  font-display: swap;
  font-weight: 300;
}



html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', 'Inter Fallback', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
